.svn-navbar { 
    background :#3f51b5;
    height: 70px;
    position: relative;
}
.svn-nav-ul > li > a { color: #fff; }

.svn_acn_logo {
    height: 60px;
}

.svn_logo { height: 55px;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .show { height: 120px; background :#3f51b5;}
  }