.svn-navbar { 
    background :#3f51b5;
    height: 70px;
    position: relative;
}
.svn-nav-ul > li > a { color: #fff; }

.svn_acn_logo {
    height: 60px;
}

.svn_logo { height: 55px;}


.svn-menu-link { vertical-align: top;}

.svn-nav-ul > li { margin: 0px 10px;}

.svn-nav-ul > li :hover { cursor: pointer; background: #404fa2;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .show { height: 180px; background :#3f51b5;}
  }