<section class="slider-container col-sm-12 ">
  <mat-card class="my-4">

    <mat-card-content>

      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="assets/images/slider/slider_01.png" alt="smart voice net" class="slider-img">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/slider/slider_02.png" alt="vishing" class="slider-img">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/slider/slider_03.png" alt="solution_ architecture" class="slider-img">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/slider/slider_04.png" alt="value levers" class="slider-img">
        </ng-template>
      </ngb-carousel>

    </mat-card-content>
  </mat-card>
</section>