<section class="container-fluid svn-container">

  <div class="row">
    <div class="col-sm-7">
      <mat-card class="svn-card">
        <mat-card-header>
          <mat-card-title>Audio Input</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row mb-3">
            <div class="col">
            <app-record-audio [thresholdVal]="thresholdVal" (transcriptEvent)="updateTranscript($event)" (scoreEvent)="updateScore($event)"></app-record-audio>
          </div>
            <div class="">
                <mat-divider class="svn-divider" [vertical]="true"> </mat-divider>
            </div>
            <div class="col">
            <app-upload-audio></app-upload-audio>
          </div>

          </div>


          <mat-card-content>
            <mat-tab-group [selectedIndex]="selected.value">

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="svn-tab-icon">text_fields</mat-icon>
                  Transcript
                </ng-template>
                <div class="mt-3">
                  {{transcript}}
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="svn-tab-icon">report</mat-icon>
                  Report
                </ng-template>
                <div class="mt-3">
                  <form class="info-form">

                    <mat-form-field class="info-form info-full-width">
                      <mat-label><b>Call Date</b></mat-label>
                      <input matInput  disabled value="{{date | date: 'shortDate'}}">
                    </mat-form-field>
                    <mat-form-field class="info-full-width">
                      <mat-label><b>Caller Number</b></mat-label>
                      <input matInput disabled value="+91-123456789">
                    </mat-form-field>
                    <mat-form-field class="info-full-width">
                      <mat-label><b>Identified Category</b></mat-label>
                      <input matInput disabled [value]="gaugeData.type || ''">
                    </mat-form-field>

                    <table class="info-full-width" cellspacing="0">
                      <tr>
                        <td>
                          <mat-form-field class="info-full-width">
                              <mat-label>Reported Category</mat-label>
                              <mat-select placeholder="Select an option" [(value)]="dndSelected" (selectionChange)="onDndChange($event)">
                               
                                <mat-option value="AUTHENTIC">AUTHENTIC</mat-option>
                                <mat-option value="FRAUD CALL ALERT">FRAUD CALL ALERT</mat-option>                                
                                <mat-option value="MARKETING SPAM ALERT">MARKETING SPAM ALERT</mat-option>
                              </mat-select>
                          </mat-form-field>
                       </td>
                        <td>                          
                          <button mat-raised-button 
                                  color="primary" 
                                  (click)="onUpdate()"
                                  disabled="{{!updateBtnEnabled}}">
                                  Update
                          </button>
                        </td>
                      </tr>
                    </table>

                  </form>

                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="svn-tab-icon">history</mat-icon>
                 Recent
                </ng-template>
                <div class="mt-3">                  
                    <app-history></app-history>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>

        </mat-card-content>

      </mat-card>
    </div>
    <div class="col-sm-5">
      <div class="col-sm-12 m-0 p-0">
        <mat-card class="svn-card">
          <mat-card-header>
            <mat-card-title>User Set Threshold</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="d-flex justify-content-center">
              <mat-slider class="svn-margin" [disabled]="disabled" [max]="max" [min]="min" [step]="step"
                [thumbLabel]="thumbLabel" [tickInterval]="tickInterval" [(ngModel)]="thresholdVal">
              </mat-slider>
            </div>
            <div class="d-flex justify-content-center">
              <h1 class="display-4 svn-count">{{thresholdVal}}</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-sm-12 mt-4 p-0">
        <mat-card class="svn-card">
          <mat-card-header>
            <mat-card-title>Audio Inspection Result</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="d-flex justify-content-center"> 
              <mwl-gauge [dialStartAngle]="180" [dialEndAngle]="0" [max]="100" [value]="gaugeData.score" [animated]="true"
                [animationDuration]="1" [ngClass]="gaugeClass" class="empty-gauge">
              </mwl-gauge>
            </div>            
            <h6 class="d-flex justify-content-center" [ngClass]="gaugeClass"><b>{{gaugeData.type}}</b></h6>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>

  <div class="row my-4">


  </div>

</section>