<section class="container-fluid svn-container">

  <div class="row">
    <div class="col-sm-7">
      <mat-card class="svn-card">
        <mat-card-header>
          <mat-card-title>Record Audio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mb-3">
            <app-record-audio [thresholdVal]="thresholdVal" (scoreEvent)="updateScore($event)"></app-record-audio>
            <div class="d-flex justify-content-center">
                <mat-divider class="svn-divider"> </mat-divider>
            </div>
            <app-upload-audio></app-upload-audio>
          </div>


          <mat-card-content>
            <mat-tab-group [selectedIndex]="selected.value">

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="svn-tab-icon">text_fields</mat-icon>
                  Call Transcript
                </ng-template>
                <div class="mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et
                  dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="svn-tab-icon">history</mat-icon>
                  Recent Activity
                </ng-template>
                <div class="mt-3">
                  <form class="info-form">

                    <mat-form-field class="info-full-width">
                      <mat-label>Call Date</mat-label>
                      <input matInput  disabled value="{{date | date: 'shortDate'}}">
                    </mat-form-field>
                    <mat-form-field class="info-full-width">
                      <mat-label>Caller Number</mat-label>
                      <input matInput disabled value="+91-123456789">
                    </mat-form-field>
                    <mat-form-field class="info-full-width">
                      <mat-label>Identified Category</mat-label>
                      <input matInput disabled value="Spam">
                    </mat-form-field>

                    <table class="info-full-width" cellspacing="0">
                      <tr>
                        <td>
                          <mat-form-field class="info-full-width">
                              <mat-label>Reported Category</mat-label>
                              <mat-select placeholder="Select an option" [(value)]="dndSelected" (selectionChange)="onDndChange($event)">
                                <mat-option>None</mat-option>
                                <mat-option value="Spam">Spam</mat-option>
                                <mat-option value="Fraud">Fraud</mat-option>                                
                                <mat-option value="Legit">Legit</mat-option>
                              </mat-select>
                          </mat-form-field>
                       </td>
                        <td>                          
                          <button mat-raised-button 
                                  color="primary" 
                                  (click)="onUpdate()"
                                  disabled="{{!updateBtnEnabled}}">
                                  Update
                          </button>
                        </td>
                      </tr>
                    </table>

                  </form>

                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="svn-tab-icon">call</mat-icon>
                  Call history
                </ng-template>
                <div class="mt-3">                  
                    <app-history></app-history>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>

        </mat-card-content>

      </mat-card>
    </div>
    <div class="col-sm-5">
      <div class="col-sm-12 m-0 p-0">
        <mat-card class="svn-card">
          <mat-card-header>
            <mat-card-title>User Set Threshold</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="d-flex justify-content-center">
              <mat-slider class="svn-margin" [disabled]="disabled" [max]="max" [min]="min" [step]="step"
                [thumbLabel]="thumbLabel" [tickInterval]="tickInterval" [(ngModel)]="thresholdVal">
              </mat-slider>
            </div>
            <div class="d-flex justify-content-center">
              <h1 class="display-4 svn-count">{{thresholdVal}}</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-sm-12 mt-4 p-0">
        <mat-card class="svn-card">
          <mat-card-header>
            <mat-card-title>Live Spam Score</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="d-flex justify-content-center">
              <mwl-gauge [dialStartAngle]="180" [dialEndAngle]="0" [max]="100" [value]="score" [animated]="true"
                [animationDuration]="1">
              </mwl-gauge>

            </div>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>

  <div class="row my-4">


  </div>

</section>